* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header-page {
  /* border-bottom: 1px solid black; */
  background-color: #12121281;
  min-height: 7vh;
  width: 100%;
}

header .navbar .container .navbar-brand,
.header .navbar .container .navbar-brand img,
.header .navbar .container .nav-link {
  color: var(--text-color-primary);
  margin: 0 0.25rem;
  font-size: 1.1rem;
}

.header .navbar .container {
  padding: 0rem;
}

.header {
  z-index: 10;
  position: fixed;

}

.nav-right {
  flex-direction: row;
  width: 100%;
  align-items:flex-end;
  justify-content:right;
}